@using System.Diagnostics
@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveServer" />

@inject NavigationManager NavigationManager
@inject CookieThemeService CookieThemeService



<RadzenLayout>
    <RadzenHeader>
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="10">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Radzen.Orientation.Horizontal">
                    @if (!IsAccountRoute)
                    {
                        <RadzenSidebarToggle Click="@(() => { sidebarExpanded = !sidebarExpanded; Trace.WriteLine(sidebarExpanded); StateHasChanged(); })" />
                    }
                    else
                    {
                        <form action="/" style="margin-top:5px; margin-left:5px">
                            <RadzenButton ButtonStyle="ButtonStyle.Primary" type="submit">Home</RadzenButton>
                        </form>
                    }
                    <RadzenLabel Style=@(IsAccountRoute ? "margin-top: 10px; margin-left: 10px" : "") Text="Ratmon Recruitment Task - Piotr Pomagalski" />

                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="2">
                <RadzenStack AlignItems="AlignItems.End" Orientation="Radzen.Orientation.Vertical">
                    @if (!IsAccountRoute)
                    {
                        <RadzenAppearanceToggle class="rz-mr-5" />
                    }
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    @if (!IsAccountRoute)
    {
        <RadzenSidebar Responsive="false" Style="width: max-content">
            <RadzenPanelMenu DisplayStyle="@(sidebarExpanded? MenuItemDisplayStyle.IconAndText: MenuItemDisplayStyle.Icon)" ShowArrow="false">

                <NavMenu />
            </RadzenPanelMenu>
        </RadzenSidebar>
    }
    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

