@using Server.Services
@implements IDisposable
@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@inject DeviceService DeviceService
<RadzenComponents @rendermode="InteractiveServer" />

<AuthorizeView>
    <Authorized>
        <RadzenPanelMenuItem Text="Home" Icon="home" Path="" />
        <RadzenPanelMenuItem Text="Devices" Icon="device_hub">
            @foreach(var device in devices)
            {
                <RadzenPanelMenuItem Text="@(device.Name)" Icon="device_thermostat" Path="@($"/device/{device.Id}")" />
            }
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="User Account" Icon="person" Path="Account/Manage" />
        <RadzenStack Style="margin-top:25px" Orientation="Radzen.Orientation.Vertical" AlignItems="AlignItems.Center">
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value=@(NavigationManager.ToBaseRelativePath(NavigationManager.Uri)) />
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" type="submit">Logout</RadzenButton>
            </form>
        </RadzenStack>
    </Authorized>
    <NotAuthorized>
        <RadzenPanelMenuItem Text="Login" Icon="home" Path="Account/Login" />
    </NotAuthorized>
</AuthorizeView>

